# Port number
PORT=3000

# SQL
DB_USER=<YOUR_DB_USER>
DB_PASSWORD=<YOUR_DB_PASSWORD>
DB_HOST=localhost
DB_NAME=dice-game-bader

DB_PORT=3306
DB_CLIENT=mysql

# JWT
# JWT secret key
JWT_SECRET=secret
# Number of minutes after which an access token expires
JWT_ACCESS_EXPIRATION_MINUTES=60
# Number of days after which a refresh token expires
JWT_REFRESH_EXPIRATION_DAYS=30
