# Port number
PORT=3000

# SQL
DB_CLIENT=mysql
DB_HOST=localhost
DB_USER=<YOUR_DB_USER>
DB_PASSWORD=<YOUR_DB_PASSWORD>
DB_NAME=<YOUR_DB_NAME>
DB_PORT=3306

# JWT
# JWT secret key
JWT_SECRET=secret
# Number of minutes after which an access token expires
JWT_ACCESS_EXPIRATION_MINUTES=60
# Number of days after which a refresh token expires
JWT_REFRESH_EXPIRATION_DAYS=30


